{% extends "base.html" %}

{% block title %}Change Password{% endblock %}
{% block header_text %}Change Password{% endblock %}
{% block extra_head %}
   <script>
    $(document).ready(function(){

        var csrft = jQuery("[name=csrfmiddlewaretoken]").val();

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrft);
                }
            }
        });


        var password = $('input[name="password"]');
        var password1 = $('input[name="password1"]');
        var password2 = $('input[name="password2"]');
        var password_correct = false;
        var password1_correct = false;
        var password2_correct = false;


        password.focus(function() {

            $('#alert_password')[0].innerHTML = "";
            password.css('color',"black");

        });
        password2.focus(function() {

            $('#alert_password2')[0].innerHTML = "";
            password2.css('color',"black");

        });
        password1.focus(function() {

            $('#alert_password1')[0].innerHTML = "";
            password1.css('color',"black");

        });
        password.blur(function() {
            if (password == ""){
                  $('#alert_password')[0].innerHTML = "Enter correct password";
                           password_correct = false;
                           password.focus();
            }
            else {
                 data = {"password":password.val()}
                 jQuery.post("/change_password/",data, function(response){

                        if (response["password_correct"]){

                            password_correct = true;
                            password.css('color',"blue");
                            $('#alert_password')[0].innerHTML = "";

                        }
                        else{
                             $('#alert_password')[0].innerHTML = "Password do not match";
                            password_correct = false;
                            password.css('color',"red");
                        };
                 });
             }
        });
        password1.blur(function() {
            if (password1.val().length < 4){
                $('#alert_password1')[0].innerHTML = "Enter correct password. At least 4 characters";
                password1_correct = false;
                password1.css('color',"red");
            }
            else{
                $('#alert_password1')[0].innerHTML = "";
                password1_correct = true;
                password1.css('color',"blue");
            }
        });
        password2.blur(function() {
             if (password2.val() != password1.val()){
                $('#alert_password2')[0].innerHTML = "Password1 and password2 do not match. Please enter it again.";
                password2_correct = false;
                password2.css('color',"red");
            }
            else{
                $('#alert_password2')[0].innerHTML = "";
                password2_correct = true;
                password2.css('color',"blue");
            }
        });

        $('#btnSubmit').click(function() {
            if (password == ""){
                  $('#alert_password')[0].innerHTML = "Enter correct password";
                           password_correct = false;
                           password.focus();
            }
            else {
                 data = {"password":password.val()}
                 jQuery.post("/change_password/",data, function(response){

                        if (response["password_correct"]){

                            password_correct = true;
                            password.css('color',"blue");
                            $('#alert_password')[0].innerHTML = "";

                        }
                        else{
                             $('#alert_password')[0].innerHTML = "Password do not match";
                            password_correct = false;
                            password.css('color',"red");
                        };
                 });
             }
            if (password1.val() < 4){
                $('#alert_password1')[0].innerHTML = "Enter correct password. At least 4 characters";
                password1_correct = false;
            }
            else {password1_correct = true;}

            if (password2.val() != password1.val()){
                $('#alert_password2')[0].innerHTML = "Password1 and password2 do not match. Please enter it again.";
                password2_correct = false;
            }
            else {password2_correct = true;}
            if (!(password1_correct && password2_correct && password_correct)){
                return false;
            }
        });
    });



</script>

{% endblock %}
{% block content %}
    <form action="" method="post">
        <fieldset>
            <p id="alert_password">  </p>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" id="password"  name="password" required placeholder="Password" type="password"/>
            </div>
            <p id="alert_password1"> </p>
            <div class="form-group">
                <input class="form-control" name="password1" required placeholder="New Password" type="password"/>
            </div>
            <p id="alert_password2">  </p>
            <div class="form-group">
                <input class="form-control" name="password2" required placeholder="New Password" type="password"/>
            </div>

            <div class="form-group">
                <button class="btnChange" id="btnSubmit" type="submit">Change Password</button>
            </div>
            {% csrf_token %}
        </fieldset>

    </form>

{% endblock %}
